.get {
    margin-top: 38px;
}

.get-code {
    font-family: IBM Plex Mono, monospace;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    color: #FFE900;
    background: #0C2625;
    border-radius: 4px;
    padding: 22px 26px 24px;
    display: inline-block;
}

.get-subInfo {
    color: #C2C2C2;
    margin-top: 17px;
}

.get-subInfo a {
    color: #C2C2C2;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: color .3s ease-out;
}

.get-subInfo a:hover {
    color: #2eb3ad;
    transition: color 0s;
}
