:root {
  --color-background: #1E1E1E;
  --color-foreground: rgb(255 248 231 / 87%);
  --color-honey: #facc56;
  --color-honey-disabled: #837a6487;
  --color-green: #2C8D6C;
  --font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-foreground);
  color-scheme: only dark;
}


body {
  margin: 50px 100px;
  overflow-x: hidden;
  --honey-spinner: var(--color-honey);
}

.title-honey {
  color: var(--color-honey);
}

.title-mate {
  color: var(--color-foreground);
}

.columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.module {
  margin-bottom: 5vw;
}

.module-heading  {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 40px;
}

img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

h1 {
  font-size: 9vw;
  font-weight: 600;
  margin: 0;
  margin-left: -0.5vw;
}

h2 {
  font-size: 6vw;
  margin: 0;
}

button {
  appearance: none;
  height: -moz-fit-content;
  height: fit-content;
  color: var(--color-foreground);
  width: 17vw;
  outline: 1.1vw solid var(--color-honey);
  background-color: #0000;
  border: none;
  border-radius: 100px;
  padding: 1.7vw 0;
  font-size: 2.5vw;
  font-weight: bold;
  transition: outline .6s cubic-bezier(.16, 1, .3, 1), transform .6s cubic-bezier(.16, 1, .3, 1), color .6s cubic-bezier(.16, 1, .3, 1);
}

button:hover {
  cursor: pointer;
  outline: 1.5vw solid var(--color-honey);
  transform: scale(1.02);
  transition: outline .6s, transform 0.6s, color 0.6s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

button:active {
  cursor: pointer;
  outline: 0.5vw solid var(--color-honey);
  transform: scale(1);
  transition: outline .6s, transform 0.6s, color 0.6s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

button:disabled {
  transition: outline .6s, transform 0.6s, color 0.6s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  outline: 7px solid var(--color-honey-disabled);
  transform: scale(1);
  color: var(--color-honey-disabled);
  pointer-events: none;
}

.hero {
  align-items: center;
  gap: 45px;
  margin-top: 82px;
  margin-bottom: 106px;
  display: flex;
  justify-content: space-between;
}

.hero-title {
  position: relative;
}

.hero-subtitle {
  position: absolute;
  bottom: -66px;
  font-size: 2vw;
  color: #fff8e75c;
  font-weight: 500;
}

.square {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-color: var(--color-green);
}

.logo {
  width: 17.5vw;
  height: 100%;
  position: relative;
  top: 1vw;
  transition: transform .4s cubic-bezier(0.16, 1, 0.3, 1);
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.logo-hexagon {
  transition: fill .4s cubic-bezier(0.16, 1, 0.3, 1);
  fill: var(--color-honey);
}

.logo-play {
  transition: fill .4s cubic-bezier(0.16, 1, 0.3, 1);
  fill: var(--color-green);
}

.logo:hover .logo-hexagon {
  fill: var(--color-green);
}

.logo:hover .logo-play {
  fill: var(--color-honey);
}

.expose-screen {
  height: 110vh;
  grid-template-rows: repeat(4, 1fr);
  gap: 0;
}

.block {
  background-color: #ffffff1c;
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.block.trigger {
  background-color: transparent;
  color: var(--color-honey);
}

.block:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.block:nth-child(3) {
  grid-column: 3;
  grid-row: 3;
}

.block:last-child {
  grid-column: 4;
  grid-row: 4;
}

@media screen and (max-width: 1000px) {
  .block {
    background-color: transparent;
  }
}

@media screen and (max-width: 900px) {

  .columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .block {
    align-items: flex-start;
    font-size: 6vw;
  }

  .expose-screen {
    grid-template-columns: repeat(1, 1fr);
  }

  .block:nth-child(2),
  .block:nth-child(3),
  .block:last-child  {
    grid-column: 1;
  }

  .columns > div {
    display: flex;
    flex-direction: column-reverse;
  }

  .columns > div:nth-child(n+3) {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  body {
    margin: 50px 20px;
  }
}
