.honey {
  opacity: 0;
}

.honey.__visible {
  opacity: 1;
}

.honey-spin {
  opacity: 0;
  transition: 0.2s ease-out;
}

:root {
  --honey-spinner: black;
}

@keyframes honeySpin {
  from {
    transform:rotate(-360deg)
  }
  to {
    transform:rotate(360deg)
  }
}
